.heroSection {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallaxBackground {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 120%;
  will-change: transform;
  z-index: 1;
}

.parallaxContent {
  position: relative;
  z-index: 2;
  will-change: transform, opacity;
  transition: opacity 0.1s ease-out;
  opacity: 1;
}
