.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-color: #000;

  animation: zoomEffect 30s ease-in-out infinite, hueShift 20s linear infinite;
  filter: brightness(0.4) contrast(1.2); 
}


@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes hueShift {
  0% {
    filter: brightness(0.3) contrast(1.2) hue-rotate(0deg);
  }
  50% {
    filter: brightness(0.3) contrast(1.2) hue-rotate(30deg);
  }
  100% {
    filter: brightness(0.3) contrast(1.2) hue-rotate(0deg);
  }
}